---
import BaseLayout from '../layouts/BaseLayout.astro';
import Subscribe from '../components/Subscribe.astro';
---

<BaseLayout title="Newsletter - Damien Herlihy">
  <section class="newsletter-page container page-content">
    <Subscribe />
  </section>
</BaseLayout>
